body {
  background: #fffffb;
  font-family: 'PT Serif', serif;
  color: #2d2720;
}

a {
  color: #634a2b;
}

a:hover {
  color: #9c8b56;
  text-decoration: none;
}

h1 {
  padding: 0 50px;
  font-size: 18px;
}

.post h2 {
  font-size: 25px;
  line-height: 33px;
  color: #382a18;
}

.post-content {
  max-width: 800px;
  font-size: 17px;
  line-height: 27px;
  padding: 5px 50px 15px;
}

.post-likes {
  padding: 0 50px 30px;
}

.post-comments {
  padding: 45px 50px 30px;
  background: #f8f8f6 url('/images/comments_background.gif') repeat-x;
}
