body {
  background: #fffffb;
  font-family: 'PT Serif', serif;
  color: #2d2720;
}

a {
  color: #634a2b;
}

a:hover {
  color: #9c8b56;
  text-decoration: none;
}

h1 {
  font-size: 18px;
  margin: 30px 120px 50px;
}

.feed {
  position: absolute;
  top: 25px;
  right: 50px;
  font-size: 13px;
}

.feed a {
  color: #a35b26;
}

.feed a:hover {
  color: #ea6900;
}

.post-date {
  font-size: 14px;
  color: #88837C;
  margin: 0 120px 7px;
}

.post h2 {
  font-size: 25px;
  line-height: 33px;
  color: #382a18;
  padding-bottom: 20px;
}

.post-content {
  max-width: 800px;
  font-size: 17px;
  line-height: 27px;
  padding: 0 120px 20px;
}

.post-content p {
  padding-bottom: 15px;
}

.post-likes {
  padding: 0 120px 30px;
}

.post-comments {
  padding: 45px 120px 30px;
  background: #f8f8f6 url('/images/comments_background.gif') repeat-x;
}

.posts-list {
  margin: 45px 120px 0;
}

.posts-post {
  margin-bottom: 30px;
  max-width: 800px;
}

.posts-date {
  font-size: 14px;
  color: #88837C;
  margin-bottom: 7px;
}

.posts-title {
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 8px;
}

.posts-about {
  font-size: 16px
}
