<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/images/favicon.png" rel="shortcut icon">

    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/master.css">
    <link href='http://fonts.googleapis.com/css?family=PT+Serif&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://yandex.st/highlightjs/6.1/styles/solarized_light.min.css">

    <link href="http://feeds.feedburner.com/blognocorp" rel="alternate" title="Блог Саши Косса" type="application/atom+xml" />

    <script src="http://yandex.st/highlightjs/6.1/highlight.min.js"></script>
    <script src="http://yandex.st/jquery/1.7.1/jquery.min.js"></script>

    <title>{{ page.title }} — Блог Саши Косса</title>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17373037-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>

    <!-- Facebook crap -->
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=194447170640922";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- -->

    <h1>
      <a href="/">Блог Саши Косса</a>
    </h1>
    <div class="feed">
      <a href="http://feeds.feedburner.com/blognocorp">Feed</a>
    </div>
    {{ content }}

    <script src="/javascripts/blog.js"></script>

    <!-- Yandex.Metrika crap -->
    <div style="display:none;"><script type="text/javascript">
    (function(w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter11366488 = new Ya.Metrika({id:11366488, enableAll: true});
            }
            catch(e) { }
        });
    })(window, "yandex_metrika_callbacks");
    </script></div>
    <script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
    <noscript><div><img src="//mc.yandex.ru/watch/11366488" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- / -->
  </body>
</html>
